
instance_configs_example = [
  {
    name              = "mz-instance-1"
    namespace         = "materialize"
    database_username = "admin"
    database_password = "securepassword123"
    database_host     = "10.0.0.4"  # Private IP of Cloud SQL instance
    database_name     = "mz_db_1"
    cpu_request      = "2"
    memory_request   = "4Gi"
    memory_limit     = "8Gi"
  },
  {
    name              = "mz-instance-2"
    database_username = "admin"
    database_password = "securepassword123"
    database_host     = "10.0.0.4"  # Private IP of Cloud SQL instance
    cpu_request      = "1"
    memory_request   = "2Gi"
    memory_limit     = "4Gi"
  }
]

gcp_service_account_email = "materialize@project-id.iam.gserviceaccount.com"
namespace                 = "myapp"
environment              = "prod"
region                   = "us-central1"
