materialize_instance_name = "mz-instance-1"
materialize_instance_namespace = "materialize"

database_username = "admin"
database_password = "securepassword123"
database_host     = "my-rds-instance.xxxxx.region.rds.amazonaws.com"
database_name     = "mz_db_1"

iam_role_arn = "arn:aws:iam::123456789012:role/materialize-role"
