instance_configs_example = [
  {
    name              = "mz-instance-1"
    namespace         = "materialize"
    database_username = "admin"
    database_password = "securepassword123"
    database_host     = "my-rds-instance.xxxxx.region.rds.amazonaws.com"
    database_name     = "mz_db_1"
    cpu_request      = "2"
    memory_request   = "4Gi"
    memory_limit     = "8Gi"
    environmentd_extra_args = [
      "--system-parameter-default=max_clusters=100",
      "--system-parameter-default=max_connections=100"
    ]
  },
  {
    name              = "mz-instance-2"
    database_username = "admin"
    database_password = "securepassword123"
    database_host     = "my-rds-instance.xxxxx.region.rds.amazonaws.com"
    cpu_request      = "1"
    memory_request   = "2Gi"
    memory_limit     = "4Gi"
  }
]

iam_role_arn = "arn:aws:iam::123456789012:role/materialize-role"
namespace    = "myapp"
environment  = "prod"
